button {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(13, 12, 12);
    width: 200px; 
    height: 50px;
    background-color:rgb(108, 184, 250) ;
    border-radius: 8px;
    cursor: pointer;
}

body{
  background-image: url(https://t3.ftcdn.net/jpg/06/06/04/70/360_F_606047074_NRuSroJfkYA34VA8szx4DpcGZs6vrhU0.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1{
  color: white;
}

p{
  color: whitesmoke;
  font-size: 30px;
}